// common styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: 'ubunturegular', sans-serif;
    min-height: 100vh;
    @include tablets {
        font-size: 14px;
    }
    @include phones {
        font-size: 12px;
    }
}
ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
}
// wrapper styles
.wrapper {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #101114;
    box-sizing: content-box;
}
.payments {
    padding: 2rem 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include laptop {
        max-width: 720px;
    }
    @include tablets {
        max-width: 700px;
    }
    @include newPhones {
        max-width: 450px;
        flex-direction: column;
    }
    @include phones {
        max-width: 300px;
    }
}
//main content block styles
.main {
    background-color: #f7f8f8;
    max-width: 70%;
    width: 100%;
    height: 100%;
    @include newPhones {
        max-width: 100%;
    }
}
//footer styles
.footer {
    padding: 1.8rem 3rem 1rem 2rem;
    text-align: start;
    line-height: 1rem; 
    color: $main;
    background-color: #373c43;
    font-size: 0.8rem;
    @include laptop {
        font-size: 0.7rem;
    }
    @include tablets {
        font-size: 0.6rem;
    }
}
