.nav {
    min-width: 30%;
    &__list {
        
        &-item {
            &:nth-child(1), &:nth-child(3) {
                background-color: #1f2229;
            }
            color: #ffffff;
            font-family: ubunturegular;
            font-size: 1rem;
            line-height: 1.5rem;
            padding: 1rem 2rem;
            background-color: #191c24;
            border-bottom: 1px solid #242730;
            &--active, &--quit {
                color: #808592;
            }
            &--active{
                background-color: #2a2d37;
            }
        }
    }
}