.payments__info{
    padding: 1.8rem 0 0 1.8rem;
    width: 60%;
    color: $main;
    line-height: 1.5rem;
    &__account, &__amount {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__account-numbers, &__amount-count{
        width: 50%;
        text-align: start;
        color: $support;
        font-family: ubunturegular;
        font-weight: 500;
    }
}
.payments-headline {
    margin: 0;
    padding: 0 0 0 1.8rem;
    color: #383d43;
    font-size: 1.3rem;
    line-height: 2.5rem;
}